@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root{
    --color1: #FFF5E1;
    --color2: #FFC0CB;
    --color3: #8B4513;
    --color4: #5D4037;
    --color5: #B0BEC5;
}

body{
    background-color: var(--color3);
    color: var(--color5);
}

.titulo{
    color: var(--color4);
    font-family: Pacifico;
    font-size: 78px;
    text-align: center;
    margin: 80px;
}

.catalog{
    margin: 0;
    padding: 0;
    font-family: Lato;
    background: none;
    opacity: 50%;
    height: 100%; 
}

.catalog h4{
    margin: 15px;
    text-align: center;
    font-family: Pacifico;
    font-size: 40px;
    padding: 0 30px;
    color: var(--color3);
}

.catalog iframe{
    padding: 60px 10px 30px;
    width: 1240px;
    height: 400px;
}

.catalog a{
    color: var(--color3);
    text-align: center;
    text-decoration: none;
}

.catalog a:hover{
    color: var(--color3);
    text-align: center;
    text-decoration: underline;
}

.about{
    width: 1300;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Lato;
    background-image: url(img/yosep-sugiarto-tbwzPufT_yo-unsplash.jpg);
    opacity: 50%;
    height: 100%; 
}

.about h4{
    margin: 15px;
    text-align: center;
    font-family: Pacifico;
    font-size: 30px;
    padding: 0 0 30px 0;
    color: white;
}

.about p{
    font-size: 16px;
    color: white;
    font-family: Lato;
    text-align: center;
}

.about a{
    color: #B0BEC5;
    text-align: center;
    text-decoration: wavy;
}

footer{
    font-family: Lato;
    color: white;
    background-color: #8B4513;
    background-position: inherit;
    background-size: auto;
}

footer h4{
    font-family: Pacifico;
    font-size: 30px;
}