/* Centrado y responsividad para grillas y secciones principales */

.products.container, .products-container, .main-catalogo, .aboutus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.product-content, .responsive-grid {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.product {
  margin: 0 auto;
}

.aboutus-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutus-text, .aboutus-content > div {
  flex: 1;
  min-width: 200px;
}

@media (max-width: 900px) {
  .aboutus-content {
    flex-direction: column;
  }
}
