
/* Foto de <a href="https://unsplash.com/es/@christiannkoepke?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Christiann Koepke</a> en <a href="https://unsplash.com/es/fotos/tarta-con-toppings-de-fresa-AigxB1zfRVo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
/* Foto de <a href="https://unsplash.com/es/@biglaughkitchen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Deva Williamson</a> en <a href="https://unsplash.com/es/fotos/magdalena-horneada-S2jw81lfrG0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --color1: #FFF5E1;
    --color2: #FFC0CB;
    --color3: #8B4513;
    --color4: #5D4037;
    --color5: #B0BEC5;
}

body{
    margin: 0;
    padding: 0;
    font-family: Lato;
    background-image: url(img/christiann-koepke-AigxB1zfRVo-unsplash.jpg);
    height: 100%; 
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}

.form-sheet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.form-sheet h1{
    font-family: Pacifico;
    text-align: center;
    padding: 0 0 30px 0;
    border-bottom: 1px solid silver;
}

.form-sheet form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .user-name{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.user-name input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.user-name label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
form .password{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.password input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.password label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.user-name span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFC0CB;
    transition: .5s;
}

.user-name input:focus ~ label,
.user-name input:focus ~ label{
    top: -5px;
    color: #FFC0CB;
}

.user-name input:focus ~ span::before,
.user-name input:focus ~ span::before{
    width: 100%;
}

.password span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFC0CB;
    transition: .5s;
}

.password input:focus ~ label,
.password input:focus ~ label{
    top: -5px;
    color: #FFC0CB;
}

.password input:focus ~ span::before,
.password input:focus ~ span::before{
    width: 100%;
}

.forgot-password{
    margin: -5px 0 20px 5px;
    color: #FFC0CB;
    cursor: pointer;
}

.forgot-password:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 100%;
    border: 1px solid;
    background: #FFC0CB;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #FFC0CB;
    transition: .5s;
}

.register{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
}

.register a{
    color:#8B4513;
    text-decoration: none;
}
.register a:hover{
    color:#8B4513;
    text-decoration: underline;
}